// height turns 0 when floating elements to the side, collapsing their original height -> use clearfix to fix that.
@mixin clearfix { // append a pseudo element after the element which will then clear floats
    &::after {
        content: ""; // set empty content to make pseudo element work but dont want it to be filled
        display: table;
        clear: both; // left or right
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}